In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
!pip install lasio
import lasio

Collecting lasio
  Downloading lasio-0.29-py2.py3-none-any.whl (38 kB)
Requirement already satisfied: numpy in /Users/admin/opt/anaconda3/lib/python3.7/site-packages (from lasio) (1.18.1)
Installing collected packages: lasio
Successfully installed lasio-0.29

# Load and Display the Well-log Datasets

In [3]:
df = pd.read_csv("well_train.csv")

In [4]:
# To see what the data set looks like, we'll use the head() method.
df.head()

,WELL,DEPTH,NPHI,RHOB,GR,RT,PEF,CALI,DT,DTS
0,15_9-F-11A,2600.0,0.371,2.356,82.748,1.323,7.126,8.648,104.605,261.584
1,15_9-F-11A,2600.1,0.341,2.338,79.399,1.196,6.654,8.578,103.827,262.161
2,15_9-F-11A,2600.2,0.308,2.315,74.248,1.171,6.105,8.578,102.740,262.730
3,15_9-F-11A,2600.3,0.283,2.291,68.542,1.142,5.613,8.547,100.943,263.018
4,15_9-F-11A,2600.4,0.272,2.269,60.314,1.107,5.281,8.523,98.473,263.037

In [5]:
# list the data types for each column
print(df.dtypes)

WELL      object
DEPTH    float64
NPHI     float64
RHOB     float64
GR       float64
RT       float64
PEF      float64
CALI     float64
DT       float64
DTS      float64
dtype: object

In [6]:
df.corr()

,DEPTH,NPHI,RHOB,GR,RT,PEF,CALI,DT,DTS
DEPTH,1.000000,-0.010254,0.222880,0.306059,0.046852,-0.008834,0.565062,-0.053425,-0.321054
NPHI,-0.010254,1.000000,-0.698239,0.752758,0.009782,-0.416166,-0.126144,0.932870,0.815070
RHOB,0.222880,-0.698239,1.000000,-0.297507,0.020202,0.746807,0.326243,-0.792726,-0.653448
GR,0.306059,0.752758,-0.297507,1.000000,0.072527,-0.114553,0.094757,0.649474,0.428327
RT,0.046852,0.009782,0.020202,0.072527,1.000000,0.040962,0.036128,0.005392,-0.004833
PEF,-0.008834,-0.416166,0.746807,-0.114553,0.040962,1.000000,0.271273,-0.549841,-0.436486
CALI,0.565062,-0.126144,0.326243,0.094757,0.036128,0.271273,1.000000,-0.170980,-0.291712
DT,-0.053425,0.932870,-0.792726,0.649474,0.005392,-0.549841,-0.170980,1.000000,0.849776
DTS,-0.321054,0.815070,-0.653448,0.428327,-0.004833,-0.436486,-0.291712,0.849776,1.000000

In [7]:
df.describe()

,DEPTH,NPHI,RHOB,GR,RT,PEF,CALI,DT,DTS
count,24403.000000,24403.000000,24403.000000,24403.000000,24403.000000,24403.000000,24403.000000,24403.000000,23628.000000
mean,3158.527230,0.169979,2.473637,43.695794,53.018156,7.023951,8.627437,77.964946,141.979680
std,294.169613,0.099186,0.146564,59.959823,1630.307353,1.171725,0.046212,14.491084,33.930572
min,2600.000000,0.010000,1.980600,0.852000,0.103000,4.297800,8.360400,53.165000,83.574000
25%,2915.000000,0.099800,2.380250,10.222500,1.551100,6.133250,8.578100,67.529150,121.293150
50%,3180.000000,0.142700,2.527400,29.925000,2.834000,7.348000,8.625000,73.698700,132.185750
75%,3383.350000,0.217000,2.578300,48.707750,4.512000,7.946950,8.671800,86.448500,146.572225
max,3720.000000,0.593200,3.051700,1124.403000,62290.770000,13.841000,8.875000,126.827000,343.944000

In [8]:
#Show the header of each column
df.columns

Index(['WELL', 'DEPTH', 'NPHI', 'RHOB', 'GR', 'RT', 'PEF', 'CALI', 'DT',
       'DTS'],
      dtype='object')

In [10]:
# replace (original value) by (original value)/(10^4) cause max(depth) = 3720
df['DEPTH'] = df['DEPTH']/pow(10,4)

In [11]:
df.head()

,WELL,DEPTH,NPHI,RHOB,GR,RT,PEF,CALI,DT,DTS
0,15_9-F-11A,0.26000,0.371,2.356,82.748,1.323,7.126,8.648,104.605,261.584
1,15_9-F-11A,0.26001,0.341,2.338,79.399,1.196,6.654,8.578,103.827,262.161
2,15_9-F-11A,0.26002,0.308,2.315,74.248,1.171,6.105,8.578,102.740,262.730
3,15_9-F-11A,0.26003,0.283,2.291,68.542,1.142,5.613,8.547,100.943,263.018
4,15_9-F-11A,0.26004,0.272,2.269,60.314,1.107,5.281,8.523,98.473,263.037

In [12]:
# replace (original value) by (original value - minimun value)/ (maximum value - minimun value)
df['RHOB'] = (df['RHOB'] - df['RHOB'].min())/(df['RHOB'].max() - df['RHOB'].min())

In [13]:
df.head()

,WELL,DEPTH,NPHI,RHOB,GR,RT,PEF,CALI,DT,DTS
0,15_9-F-11A,0.26000,0.371,0.350481,82.748,1.323,7.126,8.648,104.605,261.584
1,15_9-F-11A,0.26001,0.341,0.333676,79.399,1.196,6.654,8.578,103.827,262.161
2,15_9-F-11A,0.26002,0.308,0.312202,74.248,1.171,6.105,8.578,102.740,262.730
3,15_9-F-11A,0.26003,0.283,0.289796,68.542,1.142,5.613,8.547,100.943,263.018
4,15_9-F-11A,0.26004,0.272,0.269256,60.314,1.107,5.281,8.523,98.473,263.037

In [16]:
df['GR'].std()

59.95982325161584

In [17]:
# replace (original value) by (original value - mean value)/ (Standard deviation)
df['GR'] = (df['GR'] - df['GR'].mean())/ df['GR'].std()

In [18]:
df.head()

,WELL,DEPTH,NPHI,RHOB,GR,RT,PEF,CALI,DT,DTS
0,15_9-F-11A,0.26000,0.371,0.350481,0.651306,1.323,7.126,8.648,104.605,261.584
1,15_9-F-11A,0.26001,0.341,0.333676,0.595452,1.196,6.654,8.578,103.827,262.161
2,15_9-F-11A,0.26002,0.308,0.312202,0.509545,1.171,6.105,8.578,102.740,262.730
3,15_9-F-11A,0.26003,0.283,0.289796,0.414381,1.142,5.613,8.547,100.943,263.018
4,15_9-F-11A,0.26004,0.272,0.269256,0.277156,1.107,5.281,8.523,98.473,263.037